.feedback{
    background: url(../images/backgrounds/section-3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.feedback::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.55;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.feedback__container{
    padding-top: 99px;
    padding-bottom: 99px;
    position: relative;
    z-index: 3;
}

.feedback__title{
    color: #FFFFFF;
}

.feedback__icon{
    width: 44px;
    margin: auto;
    height: 31px;
    margin-top: 68px;
    margin-bottom: 37px;
    background: url(../images/feedback\ icon.svg);
    background-position: center;
    background-size: cover;
}

.feedback__text{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 37px;
    color: #BBBBBB;
    height: 60px;
}

.feedback__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.feedback__title-name{
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    color: #BBBBBB;
    margin-bottom: 37px;
}

.slider-for{
    margin-bottom: 50px;
}

.slider__wrapper{
    margin: auto;
    display: flex;
    align-items: center;
    width: 483px;
    max-width: 483px;
}

.slider-nav .slick-track{
    height: 80px;
}

.slider-nav .slick-slide{
    position: relative;
    top: 10px;
}

.slider-nav .slick-current{
    top: 0;
}

.slick__slide{
    width: 70px;
    height: 70px;
    border: 5px solid rgba(31, 218, 181, .2);
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}

.slick__slide-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-for .slick__slide{
    width: 142px;
    height: 142px;
    border-width: 10px;
}

.slider__btn{
    min-width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    position: relative;
}

.slider__btn:hover{
    background: #18CFAB;
    border: 1px solid #18CFAB;   
    animation: fadeIn 1s linear;
}

.slider__btn:hover .previous{
    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 9px;
    left: 11px;
}

.slider__btn:hover .next{
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    transform: rotate(45deg);
    position: absolute;
    bottom: 9px;
    right: 11px;
}
.previous{
    width: 10px;
    height: 10px;
    border-top: 2px solid #BBBBBB;
    border-left: 2px solid #BBBBBB;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 9px;
    left: 11px;
}

.next{
    width: 10px;
    height: 10px;
    border-top: 2px solid #BBBBBB;
    border-right: 2px solid #BBBBBB;
    transform: rotate(45deg);
    position: absolute;
    bottom: 9px;
    right: 11px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}