body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

li{
    list-style: none;
}

.content{
    max-width: 1160px;
    margin: auto;
    text-align: center;
}

.header {
    width: 100vw;
    height: 120px;
    justify-content: center;
    background: rgba(94, 93, 88, 0.6);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header__container{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    height: 120px;
    width: 234px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 15px;
}

.header__logo::before{
    content: url(../images/Logo\ navbar.svg);
    position: absolute;
    top: 26px;
    left: -14px;
    z-index: 1;
}

.text__logo__h{
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    padding-right: 20px;
    z-index: 2;
}

.text__logo{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    align-items: center;
    color: #FFFFFF;
}

.text__logo__span{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    align-items: center;
    color: #18CFAB;
}

.navigation__menu__container{
    display: flex;
    width: 660px;
    justify-content: space-between;
    align-self: center;
}

.navigation__menu{
    display: flex;
    width: 615px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.nav__menu__items{
    color: rgba(255, 255, 255, 0.6);
    position: relative;
}

.nav__menu__items:hover{
    color: #18CFAB;
    animation: fadeIn 0.5s linear;
}

.nav__menu__items:hover::after{
    content: '';
    height: 10px;
    width: 100%;
    border-bottom: 2px solid #18CFAB;
    transform: matrix(1, 0, 0, -1, 0, 0);
    position: absolute;
    bottom: -58px;
    left: 0;
    animation: fadeIn 0.5s linear;
}

/* ------------------------------------------------------------------------------------------------------------ */

.parallax {
    width: 100vw;
    height: 100vh;
    background: url(../images/Home\ background.svg) center/cover no-repeat;
    background-attachment: fixed;
    align-items: center;
}

.parallax__text {
    padding-top: 200px;
    align-self: center;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.textline__first{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 22px;
}

.textline__span{
    color: #18CFAB;
}

.textline__second{
    font-weight: 700;
    font-size: 78px;
    margin-bottom: 22px;
}

.textline__third{
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}

.home__buttons{
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: auto;
    margin-top: 122px;
    position: relative;
    z-index: 1;
}

.btn{
    width: 169px;
    height: 63px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
}

.explore__btn{
    background-color: #18CFAB;
}

.btn::before{
    content: '';
    width: 169px;
    height: 63px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: -1;
}

.purchase__btn{
    background-color: #00CBF6;
}

/* ------------------------------------------------------------------------------------------------------------ */

.options{
    min-width: 1200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 92px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.option__container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.option__item{
    width: 100vw;
    min-width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.option__image__container{
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
}

.option__image{
    margin: auto;
}

.option__text{
    margin-bottom: 103px;
}

.option__item__dark{
    background: #1C2A33;
    color: #18CFAB;
}

.option__item__light{
    background: #18CFAB;
    color: #FFFFFF;
}

/* ------------------------------------------------------------------------------------------------------------ */

.title{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    position: relative;
    margin: 0;
    margin-bottom: 22px;
    z-index: 3;
}

.title__lines{
    width: 91px;
    height: 8px;
    margin-top: 24px;
    margin: auto;
    position: relative;
    margin-bottom: 67px;
}

.title__lines::before{
    content: '';
    width: 77px;
    height: 1px;
    position: absolute;
    left: 2px;
    top: 2px;
    background: #18CFAB;
}

.title__lines::after{
    content: '';
    width: 77px;
    height: 1px;
    position: absolute;
    left: 13px;
    bottom: 2px;
    background: #18CFAB;
}

.service__tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    padding: 0;
}

.tabs__title{
    height: 73px;
    width: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FCFE;
    border-top: 1px solid #EDEFEF;
    border-bottom: 1px solid #EDEFEF;
    border-left: 0.5px solid #EDEFEF;
    border-right: 0.5px solid #EDEFEF;
}

.tabs__title:hover{
    border: 1.5px solid #18CFAB;
    cursor: url(../images/cursor.svg), pointer;
    box-sizing: border-box;
    animation: fadeIn 0.5s linear;
}

.tabs__content{
    padding: 0;
}

.tabs__content__item{
    justify-content: space-between;
    align-items: center;
    display: none;
}

.visible__content{
    display: flex;
}

.active__title{
    background: #18CFAB;
    color: #FFFFFF;
    position: relative;
}

.active__title::after{
    content: '';
    width: 27px;
    height: 15px;
    background: url(../images/service\ icon.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: -13px;
}

.tabs__img{
    height: 139px;
    width: 194px;
}

.tabs__text{
    width: 952px;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    margin-left: 13px;
    text-align: start;
}

/* ------------------------------------------------------------------------------------------------------------ */

.purchase{
    width: 100vw;
    height: 476px;
    background: url(../images/backgrounds/section-2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.purchase::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.78;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.purchase__container{
    margin-top: 91px;
    position: relative;
    z-index: 3;
}

.purchase__text__first{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 127px;
}

.purchase__text__second{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 13px;
    margin-bottom: 62px;
}

.purchase__btn__else{
    background: #18CFAB;
}

/* ------------------------------------------------------------------------------------------------------------ */

.news{
    padding-top: 82px;
    padding-bottom: 131px;
}

.news__container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 33px;
}

.news__container__card{
    width: 265px;
    height: 281px;
    cursor: pointer;
}

.img__card__1{
    background: url(../images/news/img\ card1.svg);
}

.img__card__2{
    background: url(../images/news/img\ card2.svg);
}

.img__card__3{
    background: url(../images/news/img\ card3.svg);
}

.img__card__4{
    background: url(../images/news/img\ card4.svg);
}

.img__card__5{
    background: url(../images/news/img\ card5.svg);
}

.img__card__6{
    background: url(../images/news/img\ card6.svg);
}

.img__card__7{
    background: url(../images/news/img\ card7.svg);
}

.img__card__8{
    background: url(../images/news/img\ card8.svg);
}

.news__card{
    height: 208px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.news__card__text{
    text-align: start;
    margin-left: 15px;
}

.news__name{
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    margin-top: 3px;
    color: #717171;
}

.news__content__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #777777;
}

.news__card__date{
    width: 66px;
    height: 66px;
    background: #203E38;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
}

.news__container__card:hover .news__card__date{
    background: #18CFAB;
    animation: fadeIn 0.5s linear;
}

.news__container__card:hover .news__name{
    color: #18CFAB;
    animation: fadeIn 0.5s linear;
}

/* ------------------------------------------------------------------------------------------------------------ */

.footer{
    width: 100vw;
    height: 121px;
    background: #22353F;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #AEAEAE;
}

.copyright__span{
    color: #18CFAB;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}