.work{
    width: 100vw;
    background: #E9EDEF;
}

.work__container{
    padding-top: 99px;
    padding-bottom: 99px;
}

.work__tabs{
    display: flex;
    width: 582px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;  
    color: #717171;
    padding: 0;
    margin: auto;
}

.tabs__title__work{
    height: 58px;
    display: flex;
    align-items: center;
    background: #E9EDEF;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    border-left: 0.5px solid #DADADA;
    border-right: 0.5px solid #DADADA;
    padding: 0 15px;
}

.tabs__title__work:hover{
    border: 1.5px solid #18CFAB;
    cursor: url(../images/cursor.svg), pointer;
    box-sizing: border-box;
    animation: fadeIn 0.8s linear;
}

.tabs__content__work{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tabs__work__item{
    width: 285px;
    height: 206px;
    perspective: 1000px;
    animation: fadeIn 1.5s linear;
}

.item__inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.tabs__work__item:hover{
    cursor: url(../images/cursor.svg), pointer;
}

.tabs__work__item:hover .item__inner {
    transform: rotateY(180deg);
}

.item__inner-front, .item__inner-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.item__inner-front{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item__inner-back{
    background: transparent;
    transform: rotateY(180deg);
    border-top: 3px solid #18CFAB;
}

.card__icons{
    width: 88px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 46px;
    margin-bottom: 32px;
}

.card__icon{
    width: 41px;
    height: 40px;
    border-radius: 30px;
}

.card__icon1{
    border: 1px solid #18CFAB;
    background-image: url(../images/card__icon1.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.card__icon2{
    background: #18CFAB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__name{
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    align-items: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.category__name{
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    align-items: center;
    color: #8A8A8A;
}

.load__btn{
    margin: auto;
    margin-top: 70px;
    background: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load__btn__text{
    padding-left: 20px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}